<mat-grid-list [cols]="numCols()">
  <mat-grid-tile>
    <app-todo-dashboard-card title="Todo's" subtitle="What is missing?" list="Internationalization,Charts,Maps,Tests, Documentation"></app-todo-dashboard-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-dashboard-card title="Card #2" subtitle="Card #2">Card #2</app-dashboard-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-dashboard-card>Card #3</app-dashboard-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-dashboard-card>Card #4</app-dashboard-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-dashboard-card>Card #5</app-dashboard-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-dashboard-card footer="I'm a footer">Card #6</app-dashboard-card>
  </mat-grid-tile>
</mat-grid-list>
