@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat.core();

/*
INDIGO PINK
 */
$indigo-pink-primary: mat.define-palette(mat.$indigo-palette);
$indigo-pink-accent:  mat.define-palette(mat.$pink-palette);

$indigo-pink-light-theme: mat.define-light-theme($indigo-pink-primary, $indigo-pink-accent);

$indigo-pink-dark-theme: mat.define-dark-theme($indigo-pink-primary, $indigo-pink-accent);

.indigo-pink-light {
  @include mat.all-component-themes($indigo-pink-light-theme);
}

.indigo-pink-dark {
  @include mat.all-component-themes($indigo-pink-dark-theme);
}

/*
DEEPPURPLE AMBER
 */
$deeppurple-amber-primary: mat.define-palette(mat.$deep-purple-palette);
$deeppurple-amber-accent:  mat.define-palette(mat.$amber-palette);

$deeppurple-amber-light-theme: mat.define-light-theme($deeppurple-amber-primary, $deeppurple-amber-accent);

$deeppurple-amber-dark-theme: mat.define-dark-theme($deeppurple-amber-primary, $deeppurple-amber-accent);

.deeppurple-amber-light {
  @include mat.all-component-themes($deeppurple-amber-light-theme);
}

.deeppurple-amber-dark {
  @include mat.all-component-themes($deeppurple-amber-dark-theme);
}

/*
PINK BLUEGRAY
 */
$pink-bluegray-primary: mat.define-palette(mat.$pink-palette);
$pink-bluegray-accent:  mat.define-palette(mat.$blue-grey-palette);

$pink-bluegray-light-theme: mat.define-light-theme($pink-bluegray-primary, $pink-bluegray-accent);

$pink-bluegray-dark-theme: mat.define-dark-theme($pink-bluegray-primary, $pink-bluegray-accent);

.pink-bluegray-light {
  @include mat.all-component-themes($pink-bluegray-light-theme);
}

.pink-bluegray-dark {
  @include mat.all-component-themes($pink-bluegray-dark-theme);
}

/*
PURPLE GREEN
 */
$purple-green-primary: mat.define-palette(mat.$purple-palette);
$purple-green-accent:  mat.define-palette(mat.$green-palette);

$purple-green-light-theme: mat.define-light-theme($purple-green-primary, $purple-green-accent);

$purple-green-dark-theme: mat.define-dark-theme($purple-green-primary, $purple-green-accent);

.purple-green-light {
  @include mat.all-component-themes($purple-green-light-theme);
}

.purple-green-dark {
  @include mat.all-component-themes($purple-green-dark-theme);
}

/*
BROWN LIME
 */
$brown-lime-primary: mat.define-palette(mat.$brown-palette);
$brown-lime-accent:  mat.define-palette(mat.$lime-palette);

$brown-lime-light-theme: mat.define-light-theme($brown-lime-primary, $brown-lime-accent);

$brown-lime-dark-theme: mat.define-dark-theme($brown-lime-primary, $brown-lime-accent);

.brown-lime-light {
  @include mat.all-component-themes($brown-lime-light-theme);
}

.brown-lime-dark {
  @include mat.all-component-themes($brown-lime-dark-theme);
}
